{% extends "base.html" %}

{% block title %}{{ NEST_INDEX_HEAD_TITLE }} {% if articles_page.has_previous() %}- page {{ articles_page.number }} {% endif %}- {{ super() }}{% endblock title %}
{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; ">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block header %}
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-12">
                  <div class="header-content">
                      <h1 class="header-title">{{ NEST_INDEX_HEADER_TITLE }}</h1>
                      <div class="header-underline"></div>
                      {% if NEST_INDEX_HEADER_SUBTITLE %}
                      <p class="header-subtitle header-subtitle-homepage">{{ NEST_INDEX_HEADER_SUBTITLE }}</p>
                      {% endif %}
                  </div>
              </div>
        </div>
    </div>
{% endblock header %}
    
    {% block content %}
    
    
    <div class="page-container">
        
        <div class="container content">
            <h1>Tervetuloa</h1>
            <p>Kesän 2015 siemensatoa myynnissä noin 600 kiloa.</p>
            
        </div>
    </div>
    
{% endblock content %}
